/* Styles go here */
html,
body {
    height: 100%;
    background: url("./download.jpg");
    background-size: cover;
    background-position: relative;
    margin: 0%;

}

.row {
    padding-top: 4rem;
    padding-left: 4rem;
}

#account {
    color: black;

}

#sub {
    padding-left: 35rem;
    padding-top: 5rem;
}

.jumbotron {
    box-shadow: 4px;
}

img {
    height: 550px;
    width: 300px;
    margin-left: 5rem;
}

table,
th,
td {
    border: 1px solid black;
    background-color: aliceblue;
}

#table {
    padding-left: 5rem;
    padding-top: 15rem;
    height: 10rem;
    width: 100%;
    font-family: 'Manjari',
        sans-serif;
}

#application {
    padding-bottom: 4rem;
}

.btn {
    margin: 5%;
}

#app {
    box-shadow: 6px;

}

#user {
    padding-top: 7rem;
    margin-right: 20rem;
}

#addSubsidy {
    padding-top: 8rem;
    margin-right: 20rem;
}